html,body {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'adobe-caslon-pro', 'Georgia', serif;
}

a {
  text-decoration: underline;
  color: black;
}

p {
  margin: 0 0 1em 0;
}


#about {
  font-size: 25px;
  line-height: 1.5;
  padding: 10%;
}

@media (min-width: 768px) {
  #about {
    width: 500px;
    top: 10%;
    left: 10%;
    padding: 0px;
    position: absolute;
  }
}