/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f7f7f7;
  font-size: .95em;
  font-family: 'Georgia', serif;
  color: #444;
  line-height: 1.7;
}

#site_wrapper {
  background-color: #ffffff;
  width: 90%;
  margin: 0 auto;
  border-left: solid 1px #ddd;
  border-right: solid 1px #ddd;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
  margin: .5em 0;
  font-style: italic;
}

h1 { font-size: 1.8em }
h2 { font-size: 1.5em }
h3 { font-size: 1.3em }
h4 { font-size: 1.2em }
h5 { font-size: 1.1em }
h6 { font-size: 1em }

p { margin-bottom: 1em }

a { 
  color: #444;
  text-decoration: underline;
}

a:hover { 
  color: #444;
  text-decoration: underline;
}

header {
  padding: 1.5em 0 1.5em 0;
  border-bottom: solid 1px #ddd;
  margin-bottom: 1.5em;
}

header a.logo {
  display: inline-block;
  width: 40px;
  height: 40px;
  float: left;
}

header a.logo img {
  max-width: 100%;
  display: block;
}

header nav {  
  font-size: .9em;  
  display: inline-block;
  text-align: right;
  float: right;
  top: 12px;
  position: relative;
}

header nav a {
  display: inline-block;
  color: #999;
  margin-left: 1.5em;
  text-decoration: none;
}

header nav a:hover {
  text-decoration: none;
  color: black;
}

header nav a.current {
  color: black;
}

footer {
  padding: 1.5em 0;
  border-top: solid 1px #ddd;
  border-bottom: solid 1px #ddd;
}

footer .copyleft {
  font-size: .7em;
}

.container {
  width: 85%;
  margin: 0 auto;
}

.clear {
  clear: both;
}

a, img {
  border:none;
}

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/

section#home .more {
  font-size: .8em;
  color: #444;
  display: block;
  margin-top: 1em;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

article.post {
  padding-bottom: 1em;
  margin-bottom: 1em;
}

article.post .date {
  color: #bbb;
  font-size: .9em;
}

article.post .date a {
  text-decoration: none;
  color: #bbb;
}

article.post h3 a {
  text-decoration: none;
}

article.post img {
  max-width: 100%;
}

article.post blockquote {
  padding-left: 1em;
  border-left: solid 1px #bbb;
  color: #333;
}

article.post .quote {
  font-size: 1.5em;
  font-style: italic;
}

/*****************************************************************************/
/*
/* Info
/*
/*****************************************************************************/

section#info h1 {
  line-height: 1.2;
  font-style: normal;
  font-size: 1.5em;
  text-align: center;
}

section#info h2 {
  text-align: center;
}

nav#social {
  text-align: center;
}

nav#social a {
  display: inline-block;
  width: 25px;
  height: 25px;
}

nav#social a img {
  max-width: 100%;
  transition: opacity .2s;
  -moz-transition: opacity .2s;
  -webkit-transition: opacity .2s;
  opacity: .5;
}

nav#social a:hover img {
  opacity: 1;
}

img#self_portrait {
  width: 150px;
  height: 150px;
  margin: 0 auto;
  display: block;
}

article.employer {
  margin-bottom: 3em;
}

article.employer h3.employer {
}

article.employer .meta {
  margin-bottom: 1em;
}

article.employer .meta .date {
  color: #bbb;
}

#resume {
  display: block;
  margin: 0 auto;
  text-align: center;
  font-size: .8em;
  top: -10px;
  position: relative;
}

#resume a {
  text-decoration: none;
  text-transform: uppercase;
  color: #aaa;
}

/*****************************************************************************/
/*
/* Media Queries
/*
/*****************************************************************************/

@media screen and (min-width: 600px) {
  header {
    position: fixed;
    width: inherit;
    background-color: white;
    z-index: 100;
  }

  .container {
    width: 500px;
  }

  section.container {
    padding-top: 110px;
  }

  article.post .quote {
    font-size: 2em;
  }

  img#self_portrait {
    width: 250px;
    height: 250px;
  }

  section#info h1 {
    font-size: 2em;
  }

}